div.border-page{
    border: 2px solid rgb(17, 17, 17);
    width: 300px;
    height: 390px;
    margin-top: 100px;
    /* margin-left: 42%; */
   margin: auto;
    background-color: rgb(16, 14, 14);
    padding: 5px;
}
input.calc1{
    width: 260px;
    height: 30px;
    justify-content: center;
    margin-left: 10px;
    margin-top: 20px;
    font-size: large;
    background-color: rgb(214, 227, 238);
}
div.calc2{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
button.space{
    padding: 10px;
    margin: 10px;
    width: 50px;
    background-color: chocolate;
    border-radius: 10px;
    border: none;
    font-size: large;

    &:hover{
     background-color: rgb(170, 73, 4);
    }
}
.margin{
 height: 20px;
}
